@{
    ViewBag.Title = "Ver Profesionales";
    ViewBag.Head = "Listado de Profesionales";
    ViewBag.SubTitle = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ScriptsCode
{
    <script type="text/javascript" src="@Url.Content("~/App_CodeJS/Profesionales/VisualizarProfesionales.js")"></script>
}

<div id="grilla"></div>